html, body { 
	height:  100%; 
}

.special, .special .jumbotron { 
	height: 100%;
	margin: 0px;
}

ul.navigation {
	list-style-type: none;
	margin: 0px;
	margin-right: 10%;
	padding: 0px;
	text-align: right;
}

li.navigation {
	display: inline;
	margin-right: 5px;
	padding: 7px;
	font-weight: bold;
}

ul.navigation a:link { color: #EEE; text-decoration: none; }
ul.navigation a:visited { color: #EEE; text-decoration: none; }
ul.navigation a:hover { color: #6C2787; text-decoration: none; }
ul.navigation a:active { color: #6C2787; text-decoration: none; }


nav {
	background-color: #222;
	color: #EEE;
	margin-bottom: 0px !important;
}

nav.scrolled {
	/*background-color: red;
	height: 50px;*/
}

body {
	background-color: #5C376B;
}

body header {
	background-color: #222;
	color: #EEE;
	text-align: center;
	padding-bottom: 20px;
}

body footer.footer {
	display: block;
	background-color: #222;
	color: #EEE;
	text-align: center;
	position: relative;
	bottom: 0px;
	left: 0px;
}

img.social_media {
	padding: 3px;
	width: 32px;
	height: 32px;
	opacity: 0.6;
	filter: alpha(opacity=60); /* IE8 & Lower */
}

img.social_media:hover {
	opacity: 1.0;
	filter: alpha(opacity=100); /* IE8 & Lower */
}

article {
	margin: 5px;
	background-color: #333;
	color: #EEE;
	height: 200px;
}

section {
	margin-bottom: 0px !important;
}

.row-centered {
	text-align: center;
}

.col-centered {
	display: inline-block;
	float: none;
}